@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="~/customscripts/workout.js"></script>

<form>

   <div class="input-group mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="bi bi-person-arms-up"></i></span>
        </div>
        <input class="form-control" placeholder="Workout Name" id="txtWorkOutName" required>
   </div>

   <div class="input-group mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="bi bi-card-list"></i></span>
        </div>
        <input class="form-control" placeholder="Workout Description" id="txtWorkOutDescription" required>
   </div>

   <div class="input-group mt-3">
        <div class="input-group-prepend">
            <label class="input-group-text"><i class="bi bi-soundwave"></i></label>
        </div>
        <select class="form-control select" id="selectAddEquipment" onchange="PopulateEquipment()" required>
            <option value="0">Select Equipment</option>
            @{
                foreach (var items in ViewBag.Equipments)
                {
                    <option value="@items.Id">@items.EquiptmentName</option>
                }
            }
        </select>
    </div>

</form>

    <div class="mt-3" style="float:right">
        <button class="btn btn-success" onclick="InsertWorkOut()">Save</button>
        <button class="btn btn-secondary ml-2" onclick="changePath('/workout')">Cancel</button>
    </div>

