@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="~/customscripts/equipment.js"></script>


<h2>Equipment</h2>

<div class="table-responsive">
    <div class="d-flex justify-content-between" style="float:right;">
        <button class="btn btn-primary m-2" onclick="changePath('/equiptment/AddNewEquipment')">Add New Equipment</button>
    </div>
    <table id="equipment-table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Equipment Name</th>
                <th>Description</th>
                <th>Reserve Time</th>
                <th>Date Added</th>
                <th width="20%"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
